.BioDivTotalSF {


    background-image: url(https://vignette.wikia.nocookie.net/streetfighter/images/7/7e/Dojo.jpg/revision/latest/scale-to-width-down/1000?cb=20191004230027), linear-gradient(#6e859c, #c0ccd8) !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-x;
    background-color: rgba(0, 0, 0, 0.432);
    background-blend-mode: soft-light;
}


.BioNombreSF {
    color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 5vw;
}

.BioImgyBioSF {

    background: rgba(0, 0, 0, 0.7);
    border: 4px solid #a78d50;
    border-radius: 30px;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;

}

.iconoSF {
    color: white;
    font-size: 3vw;
    margin-left: 2vw;
    margin-top: 1vw;
    cursor: pointer;
}

.BioImgSF {
    margin-top: 7vw;
    height: 40vw;
    margin-left: -4vw;
}

.BIOCentrarColDivSF {
    margin-left: auto !important;
    margin-right: auto !important;
}

.BiotituloSF {
    font-family: "LetraSf";
    margin-left: auto;
    margin-right: auto;

    color: white;
    font-size: 3vw;
    border-bottom: 2px white solid;
    width: 70%;

}

.BioDescSF {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1vw;

}

.BIOtitulocombosSF {
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-bottom: 2px white solid;
    width: 20%;
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    font-family: "LetraSf";
    font-size: 3vw;
}

.derechaSF {
    width: 50vw;
    float: right;

    margin-right: 9vw;
}

.izqSF {
    width: 50vw;
    margin-left: 4vw;


}






@media screen and (max-device-height: 640px) and (max-device-width: 360px) {
    .BioNombreSF {
        font-size: 12vw;
        width: 100%;

    }

    .BioDescSF {
        font-size: 4.7vw;

    }

    .BioImgSF {
        height: 60vw;
    }

   

    .BiotituloSF {
        margin-top: 3vw;
        font-size: 8vw;

        margin-bottom: 3vw;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }

  
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 8vw;
    }

    .derechaSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

    .izqSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }


}



@media screen and (min-device-height: 731px) and (max-device-width: 411px) {

    /*pixel*/
    .BioNombreSF {
        font-size: 12vw;
        width: 100%;

    }

    .BioDescSF {
        font-size: 4.7vw;

    }

    .BioImgSF {
        height: 60vw;
      
    }

   

    .BiotituloSF {
        margin-top: 3vw;
        font-size: 8vw;

        margin-bottom: 3vw;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }

  
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 8vw;
    }

    .derechaSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

    .izqSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }
}


@media screen and (min-device-height: 568px) and (max-device-width: 320px) {

    /*iphone5*/
    .BioNombreSF {
        font-size: 12vw;
        width: 100%;

    }

    .BioDescSF {
        font-size: 4.7vw;

    }

    .BioImgSF {
        height: 60vw;
    }

   

    .BiotituloSF {
        margin-top: 3vw;
        font-size: 8vw;

        margin-bottom: 3vw;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }

  
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 8vw;
    }

    .derechaSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

    .izqSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }
}

@media screen and (min-device-height: 736px) and (max-device-width: 414px) {

    /*iphone6/7/8*/
    .BioNombreSF {
        font-size: 12vw;
        width: 100%;

    }

    .BioDescSF {
        font-size: 4.7vw;

    }

    .BioImgSF {
        height: 60vw;
    }

   

    .BiotituloSF {
        margin-top: 3vw;
        font-size: 8vw;

        margin-bottom: 3vw;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }

  
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 8vw;
    }

    .derechaSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

    .izqSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }
}

@media screen and (min-device-height: 1024px) and (max-device-width: 768px) {
.BioImgyBioSF {
    width: 90%;
    padding-bottom: 1vw;
}
    .BioNombreSF {
        font-size: 7vw;
        width: 100%;

    }
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 5vw;
    }


    .BioDescSF {
        font-size: 3.5vw;

    }

    .iconoSF {

        margin-left: 2vw;
        margin-top: 2vw;

    }
    .BiotituloSF {
        margin-top: 3vw;
        font-size: 6vw;
        margin-bottom: 3vw;
        width: 100%;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }
    .BioImgSF {
        height: 55vw;
        margin-left: -18vw;
        margin-top: 10vw;
    }

}


@media screen and (min-device-height: 667px) and (max-device-width: 375px) {

    /*iphone6/7/8*/
    .BioNombreSF {
        font-size: 12vw;
        width: 100%;

    }

    .BioDescSF {
        font-size: 4.7vw;

    }

    .BioImgSF {
        height: 60vw;
    }

   

    .BiotituloSF {
        margin-top: 3vw;
        font-size: 8vw;

        margin-bottom: 3vw;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }

  
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 8vw;
    }

    .derechaSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

    .izqSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }
}

@media screen and (min-device-height: 812px) and (max-device-width: 375px) {

    /*iphone X*/
    .BioNombreSF {
        font-size: 12vw;
        width: 100%;

    }

    .BioDescSF {
        font-size: 4.7vw;

    }

    .BioImgSF {
        height: 60vw;
    }

   

    .BiotituloSF {
        margin-top: 3vw;
        font-size: 8vw;

        margin-bottom: 3vw;
    }

    .BIOtitulocombosSF {
        font-size: 8vw;
        width: 40%;
        margin-top: 6vw;
        margin-bottom: 5vw;

    }

  
    .iconoSF {
        margin-left: 4vw;

        margin-top: 4vw;
        font-size: 8vw;
    }

    .derechaSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

    .izqSF {
        width: 100% !important;
        margin-left: 2vw;

        float: none;


    }

}