.fondo {


  color: white;
  min-height: 750px !important;
}

.fotoNav {

  margin-left: -1vw;
  margin-bottom: -1vw;
  margin-top: -0.8vw;

}

.textonaV {
  font-family: 'VT323', monospace;
  text-align: right;
  font-size: 25px !important;
}

